@keyframes flickerAnimation {
    0%   {opacity:1;}
    15%  { opacity:0.2; }
    50%   {opacity:0.8;}
    66%  { opacity:0.6; }
    100% { opacity:1; }
}
.flicker { animation: flickerAnimation 0.75s infinite; }


body { background-color: #f7f7f7; text-align: center; transition: 1s background-color; }
body * { transition: 0.5s}
body * .blue { color: #0c85fd }
#h { font-family: 'PT Mono', monospace; cursor: pointer; }
.o0 { opacity: 0; } .dim {opacity: 0.6;}


body.dark { background-color: black; color: white; }
body.dark * .blue { color: #9dcbff }
body.dark #h { margin-top: 10vh; color: rgb(253, 249, 235); text-shadow: 0 0 12px rgba(255, 239, 145, 0.7); opacity: 0.9; }
body.dark #h:hover, #ad:hover { color: white; text-shadow: 0 0 12px white; }
body.dark div#ad { opacity: 1; }
@keyframes adColor {
    0% {color: rgba(255, 228, 5, 0.71);}
    79% {color: rgba(255, 228, 5, 0.71);}
    79.5% {color: white}
    80% {color: rgba(255, 228, 5, 0.71);}
    81% {color: white}
    84% {color: rgba(255, 228, 5, 0.71);}
    84.5% {color: white}
    85% {color: rgba(255, 228, 5, 0.71);}
}
#ad {
    height: 0;
    width: 5em; margin-left: 50vw; margin-right: auto;
    margin-top: -1em;
    animation: adColor 30s infinite;
    opacity: 0; color: rgba(255, 228, 5, 0.71);
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    text-shadow: 0 0 12px #9dcbff;
}
section {
    width: 10em;
    font-weight: 800;
    margin: 10em auto;
    opacity: 0.5;
}
body.dark section {
    text-shadow: 0 0 12px #9dcbff;
    opacity: 0.8;
}
